{% extends 'base.html' %}


{% block title %}
    Painel de Controle
{% endblock title %}
    

{% block content %}
    <h1>Painel de Controle</h1>
    <hr>
    
    {% if request.user.is_authenticated %}
        <p>Bem vindo {{ request.user.first_name }}, aqui é exibido todas as informações de conta </p>
    {% endif %}
    
    <hr>
    <div>
        {% if request.user.is_authenticated %}
            <h3>informações de usuario</h3>

            <p>Nome de usuario: {{ request.user.username }}</p>
            <p>Email: {{ request.user.email }}</p>
            <p>Nome: {{ request.user.get_full_name }}</p>
            <p>Data de entrada: {{ request.user.date_joined }}</p>
        {% endif %}
    </div>

{% endblock content %}
    