{% extends 'base.html' %}


{% block title %}
    Painel de Controle
{% endblock title %}
    

{% block content %}
    <h2>Painel de Controle</h2>
    <p id="sub_title">Bem vindo {{ request.user.first_name }}, aqui é exibido todas as informações de conta </p>
    
    <div id="user_perfil">
        <div id="user_list">
            <p>Informações de usuário:</p>
            <li>Nome de usuário: <strong> {{ request.user.username }} </strong></li>
            <li>Email: <strong> {{ request.user.email }} </strong></li>
            <li>Nome: <strong> {{ request.user.get_full_name }} </strong></li>
            <li>Data de entrada: <strong> {{ request.user.date_joined }} </strong></li>

        </div>
    </div>
{% endblock content %}
    