{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    {% block link %} {% endblock link %}
        
    <title> {% block title %} {% endblock title %} </title>

</head>

<div id="global_box">

    <body>

        <header>
            <!--& Cabeçario -->

            <div id="campo_nave">

                <div id="header_empresarial">
                    <!--& Nome e Slogan da Empresa -->
                    <div id="logo_empresarial">Espaço Tao da Luz</div>
                </div>

            
                <!--* Linha de Navegação -->
                <nav>
                    <div id="camp_nav_01" onmouseover="camp_nav_visible('camp_nav_01')" onmouseout="camp_nav_invisible('camp_nav_01')">Home</div>
                    <div id="camp_visible_nav_01" onmouseover="camp_nav_visible('camp_nav_01')" onmouseout="camp_nav_invisible('camp_nav_01')">
                        <!--& Campo de Navegação -->
                        <li><a href="{% url 'home' %}">Pagina inicial</a></li>
                        <li><a href="">Quem nos somos</a></li>
                        <li><a href="">Terapeutas</a></li>
                    </div>
                    
                    {% if request.user.is_authenticated %}
                        <div id="camp_nav_02" onmouseover="camp_nav_visible('camp_nav_02')" onmouseout="camp_nav_invisible('camp_nav_02')">Olá {{ request.user.first_name }}<p id="seta">⮟</p></div> 
                        <div id="camp_visible_nav_02" onmouseover="camp_nav_visible('camp_nav_02')" onmouseout="camp_nav_invisible('camp_nav_02')">
                            <!--& Campo de Navegação -->
                            <li><a href="{% url 'painel_controle' %}">Painel de Controle</a></li>
                            <li><a href="">Marcar horario</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </div>
                    {% else %}
                        <div id="camp_nav_02" onmouseover="camp_nav_visible('camp_nav_02')" onmouseout="camp_nav_invisible('camp_nav_02')">Conta</div>
                        <div id="camp_visible_nav_02" onmouseover="camp_nav_visible('camp_nav_02')" onmouseout="camp_nav_invisible('camp_nav_02')">
                            <!--& Campo de Navegação -->
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'cadastro' %}">Cadastar-me</a></li>
                            <li><a href="">Contato</a></li>
                        </div>
                    {% endif %}
                        
                   
                </nav>
            </div>

        </header>

        <div id="middle_pag">

            <div id="conteudo"><!--& Conteúdo da pagina -->

                {% block content %} {% endblock content %}

            </div>

            
            {% block aside %}
                
            {% endblock aside %}
                
        </div>

        <br><hr><br> <!--! RETIRAR -->

        <footer>

            <div id="redes_sociais">
                <img src="" alt="Logo Instagram">   <!--? Instagram -->
                <img src="" alt="Logo Facebook">    <!--? Facebook -->
                <img src="" alt="Logo WhatsApp">    <!--? Zap -->
            </div>

            <div id="footer_empresarial">
                <!--& Nome e Slogan da Empresa -->
                <div id=""> <img src="" alt="Logo_Empresarial"></div>
                <div id=""> Slogan </div>
            </div>

            <div id="direito_register">
                <!--& Registro autorial da pagina -->
                <div> direito_register </div> <!-- p -->
            </div>

            <h2 id="teste"> TESTE </h2>
            <img src="" alt="socorro">

        </footer>

    </body>

</div>
<script>
    setPosicao_navs("camp_visible_nav_01", "camp_nav_01", "campo_nave");
    setPosicao_navs("camp_visible_nav_02", "camp_nav_02", "campo_nave");
</script>

</html>