*{
    margin: 0;
    padding: 0;
}

#global_box{
    background-color: #b217f0;
}

h1, h2, h3, h4, h5 , h6 { font-family: 'Muli', sans-serif; font-weight:normal; }

header{
    background-color: rgb(51, 99, 202);
}

#header_empresarial{
    font-family: 'Muli', sans-serif;
    color:#f3f7cc;
    font-size:20px;
    /* margin-right:10%; */
}

#logo_empresarial{
    /* width: 50px;
    height: 50px; */
}

#campo_nave{
    display: inline-flex;
    vertical-align: middle;
    padding: .7em;
}

        nav{
            margin: 0.3em;
        }
        
            #camp_nav_01, #camp_nav_02{
                vertical-align: middle;
                display: inline;
                margin: 6em;
                text-align: center;
                padding: 0.45em;
                min-width: 4em;
            }
            
            #camp_visible_nav_01, #camp_visible_nav_02{
                position: absolute;
                z-index: 2;
                visibility: hidden; 
                padding: 1em;
                padding-left: 0.3em;
                padding-right: 1.5em;
                opacity: 100%;
                border: black solid 1px;
                list-style-type: none;
                /* border-radius: 0 0 10px 5px; */
            }
            
            #camp_visible_nav_01{
                background-color: rgb(191, 14, 49);
            }
            #camp_visible_nav_02{
                background-color: rgb(206, 43, 179);
                
            }

                #camp_visible_nav_01 > li ,#camp_visible_nav_02 > li{
                    margin: 0.6em;
                }
                /* li:first-child{
                    background-color: aqua;
                } */
    

        #middle_pag{
            display: inline-flex;
            background-color: orchid;
            width: auto;
            margin-top: 1em;
            margin-left: 2em;
            margin-right: 2em;
            padding: 1em;
        }
        #conteudo{
            width: 65%;
            background-color: lightcoral;
            padding: 1em;
        }

        aside{
            width: 35%;
            padding: 1em;
            background-color: mediumpurple;
        }      

form{
    border: 1px double black;
    border-radius: 0.3em;
    width: 600px;
    background-color: darkviolet;
    margin: 0;
    padding-top: 0.6em;
    padding-bottom: 1em;
}

form > p {
    margin: 1em 0 1em 1em
}

form > p > *{
    vertical-align: middle;
    display: inline-block;
    padding-left: 5px;
    font: 1em sans-serif;
    width: 150px;
    -moz-box-sizing: 150px;
    box-sizing: border-box;
}

form > p > label{
    text-align: left;
    width: 140px;
}

form > p > input, form > p > option{
    font-size: 0.9em;
}

form > p > input, form > p > select{
    padding: .1em;
    border: 1px solid rgb(35, 35, 197);
    border-radius: .3em;
}

form > input[type=submit]{
    padding: 0.2em;
    /* float: left; */
    display: block;                
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 2em;
}

.helptext{
    display: inline-block;
    width: 250px;
    font-size: 0.80em;
    font-style: italic;
    color: rgb(33, 0, 99);
}

    footer{
        visibility: hidden;
    }